#sidebar {
    position: sticky;
    width: 260px;
    padding: 10px;
    /* animation: showSideBar 0.4s ease 0s 1 normal forwards; */
    z-index: 10;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#sidebar.active {
    width: 70px;
    /* animation: hideSideBar 0.4s ease 0s 1 normal forwards; */
}

@keyframes showSideBar {

    0% {
        width: 70px;
    }

    100% {
        width: 260px;
    }
}

@keyframes hideSideBar {

    0% {
        width: 260px;
    }

    100% {
        width: 70px;


    }
}


#sidebar .show {
    display: block;
}

#sidebar .hide {
    display: none;
}

#sidebar.active .show {
    display: none;
}

#sidebar.active .hide {
    display: block;

}

#sidebar .sidebar-header {
    position: relative;
    text-align: center;
    border-bottom: solid purple 2px;
    height: 70px;
    margin-bottom: 20px;
}

#sidebar .sidebar-header img {
    width: 100%;
}

#sidebar.active .sidebar-header img {
    width: 40px;
    height: auto;
}

#sidebar .sidebar-header .btn {
    position: absolute;
    right: -33px;
    top: 9px;
    cursor: pointer;
}

#sidebar .sidebar-header .btn svg {
    font-size: 20px;
}
#sidebar #sidebar-content-list >li{
  box-shadow: rgba(212, 215, 216, 0.3) 0 2px 3px 0, rgba(155, 34, 161, 0.15) 0 6px 10px 4px;

}
#sidebar.active #sidebar-content-list li .sidebar-item-list-content {
    display: none;

}
#sidebar.active #sidebar-content-list  li:hover .sidebar-item-list-content {
    display: block;
    animation: show_sidbar_item_list_content 0.18s ease 0s 1 normal forwards;

}


.sidebar-item-list {
    position: relative;
    z-index: 10;
}

.sidebar-item-list.active .sidebar-item-list-title {
    color: red;
}



.sidebar-item-list.active .sidebar-item-list-content {
    display: block;

}

.sidebar-item-list .sidebar-item-list-content {

    animation: hide_sidbar_item_list_content 0.18s ease 0s 1 normal forwards;
}

@keyframes hide_sidbar_item_list_content {

    0% {
        transform: scaleY(1);
        transform-origin: 100% 0%;
        display: block;
    }

    100% {
        transform: scaleY(0);
        transform-origin: 100% 0%;
        display: none;
    }
}

.sidebar-item-list.active .sidebar-item-list-content {

    animation: show_sidbar_item_list_content 0.18s ease 0s 1 normal forwards;
}

@keyframes show_sidbar_item_list_content {
    0% {
        transform: scaleY(0);
        transform-origin: 100% 0%;
    }

    100% {
        transform: scaleY(1);
        transform-origin: 100% 0%;

    }
}


#sidebar.active .sidebar-item-list-content {
    position: absolute;
    min-width: 200px;
    left: 50px;
    border: solid 2px #333;
    top: -5px;
    background-color: #333;
}
